body {
    background-color: #f0f0f0;
}

.col-4-common {
    padding-top: 20px;
    background-color: white;
}

.col-8-common {
    background-color: white;
    margin-left: 10px;
}

.col-4-common ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col-4-common ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

.col-4-common ul li a.active {
    background-color: #4CAF50;
    color: white;
}

.col-4-common ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


.popup-panel-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-panel {
    margin: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #DDD;

}


